# **2022-1A - Bootcamp - Engenheiro(a) de Dados**

Desafio do Módulo 2

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/desenvolvedorjairomonassa/EngenheiroDadosDesafio2/main/dados_jogadores-1.csv",sep=';',encoding='latin-1')

In [2]:
df

         jogador     genero  ... num_derrotas total_partidas
0      jogador 1  Masculino  ...          0.0           14.0
1      Jogador 2   Feminino  ...         20.0           59.0
2      Jogador 3  Masculino  ...          3.0           29.0
3      Jogador 4  Masculino  ...         72.0           81.0
4      Jogador 5  Masculino  ...         54.0           55.0
..           ...        ...  ...          ...            ...
494  Jogador 495   Feminino  ...         28.0           80.0
495  Jogador 496  Masculino  ...         51.0           64.0
496  Jogador 497  Masculino  ...          NaN           80.0
497  Jogador 498  Masculino  ...          3.0            8.0
498  Jogador 499   Feminino  ...         86.0           87.0

[499 rows x 8 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   jogador          499 non-null    object
 1   genero           499 non-null    object
 2   data_nascimento  499 non-null    object
 3   jogo             499 non-null    object
 4   pais             499 non-null    object
 5   num_vitorias     491 non-null    float64
 6   num_derrotas     494 non-null    float64
 7   total_partidas   491 non-null    float64
dtypes: float64(3), object(5)
memory usage: 31.3+ KB

In [4]:
df.describe()

       num_vitorias  num_derrotas  total_partidas
count    491.000000    494.000000      491.000000
mean      25.150713     22.872470       47.892057
std       21.062049     21.326733       28.231452
min        1.000000      0.000000        1.000000
25%        8.000000      6.000000       24.000000
50%       20.000000     16.500000       45.000000
75%       38.000000     34.000000       73.000000
max       93.000000     92.000000      100.000000

In [5]:
#conversão simples de data ano-mes-dia
df['data_nascimento'] = pd.to_datetime(df['data_nascimento'])

In [6]:
df.loc[df['num_vitorias'].isna()]

         jogador     genero  ... num_derrotas total_partidas
46    Jogador 47  Masculino  ...         68.0           85.0
55    Jogador 56   Feminino  ...         29.0           80.0
97    Jogador 98   Feminino  ...          1.0           10.0
137  Jogador 138   Feminino  ...         28.0           44.0
251  Jogador 252  Masculino  ...         27.0           28.0
323  Jogador 324   Feminino  ...          1.0            7.0
372  Jogador 373   Feminino  ...         49.0           60.0
492  Jogador 493   Feminino  ...          6.0           25.0

[8 rows x 8 columns]

In [7]:
df[['num_vitorias']] = df[['num_vitorias']].fillna(value=0)

In [8]:
df

         jogador     genero  ... num_derrotas total_partidas
0      jogador 1  Masculino  ...          0.0           14.0
1      Jogador 2   Feminino  ...         20.0           59.0
2      Jogador 3  Masculino  ...          3.0           29.0
3      Jogador 4  Masculino  ...         72.0           81.0
4      Jogador 5  Masculino  ...         54.0           55.0
..           ...        ...  ...          ...            ...
494  Jogador 495   Feminino  ...         28.0           80.0
495  Jogador 496  Masculino  ...         51.0           64.0
496  Jogador 497  Masculino  ...          NaN           80.0
497  Jogador 498  Masculino  ...          3.0            8.0
498  Jogador 499   Feminino  ...         86.0           87.0

[499 rows x 8 columns]

In [9]:
#Qual país possui a maior média de vitórias? No geral (independente do jogo). 
df.groupby('pais')['pais','num_vitorias'].sum().sort_values(ascending=False, by='num_vitorias')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

           num_vitorias
pais
Chile            2763.0
Paraguai         2684.0
Brasil           2528.0
Argentina        2279.0
Uruguai          2095.0

In [10]:
#Qual país possui o maior número de derrotas no Jogo da velha? 
df.groupby('pais')['pais','num_derrotas'].sum().sort_values(ascending=False, by='num_derrotas')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

           num_derrotas
pais
Paraguai         3080.0
Chile            2336.0
Uruguai          2084.0
Brasil           2039.0
Argentina        1760.0

In [11]:
#Qual o jogo que possui o menor número de partidas? 
df.groupby('jogo')['jogo','total_partidas'].sum().sort_values(ascending=True, by='total_partidas')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

               total_partidas
jogo
Jogo da velha          7722.0
Dama                   7725.0
Xadrez                 8068.0

In [12]:
#Qual o jogo preferido entre as mulheres? 
df.loc[df['genero']=='Feminino'].groupby('jogo').count()

               jogador  genero  ...  num_derrotas  total_partidas
jogo                            ...
Dama                90      90  ...            89              88
Jogo da velha       73      73  ...            73              73
Xadrez              87      87  ...            86              85

[3 rows x 7 columns]

In [13]:
#Qual o país com mais jogadores de Dama? 
df.loc[df['jogo']=='Dama'].groupby('pais')['pais'].count().sort_values(ascending=False)

pais
Paraguai     48
Brasil       31
Chile        29
Argentina    28
Uruguai      28
Name: pais, dtype: int64